<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-10 col-md-8 col-lg-6">

            <!--white card itself-->
            <div class="container" id="profile-card">
                <div id="profile-title-row" class="row ">
                    <div id="profile-div" class="col-xs-4 col-sm-2 col-md-1">
                        <h2 class="pink-font">Profile</h2>
                    </div>
                    <div id="link-div" class="col-xs-4 col-sm-2 col-md-1 ">
                        <a id="edit-link" href=""> (Edit)</a>
                    </div>
                </div>

                <div class="row ">
                    <p><b class="" id="name">{{person?.name}} {{person?.middleName}} {{person?.surname}}</b></p>
                    <p><b class="pink-font">Gender:</b> {{gender}}</p>
                    <p><b class="pink-font">Date of birth:</b> {{person?.date_of_birth}}</p>

                    <h2 class="pink-font">Contacts</h2>
                    <p><b class="pink-font">Home address:</b> {{contacts.homeAddress}}</p>
                    <p><b class="pink-font">Job:</b> {{contacts.job}}</p>
                    <p><b class="pink-font">Job phone number:</b> {{contacts.jobPhoneNumber}}</p>
                    <p><b class="pink-font">Cellphone number:</b> {{contacts.cellphoneNumber}}</p>

                </div>
            </div>

        </div>
    </div>
</div>



<!--<div class="container" id="profile-card">-->
    <!--<div class="row">-->
        <!--<div class="col-sm">-->

            <!--&lt;!&ndash;content&ndash;&gt;-->

            <!--<div class="container-fluid">-->
                <!---->
                <!--<div class="row">-->
                    <!--<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">-->
                        <!--<h2 class="pink-font">Profile</h2>-->
                    <!--</div>-->
                    <!--<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">-->
                        <!--<a id="edit-link" href=""> (Edit)</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row justify-content-lg-center">-->
                    <!--<p><b class="" id="name">{{person?.name}} {{person?.middleName}} {{person?.surname}}</b></p>-->
                    <!--<p><b class="pink-font">Gender:</b> {{gender}}</p>-->
                    <!--<p><b class="pink-font">Date of birth:</b> {{person?.date_of_birth}}</p>-->
                    <!--<h2 class="pink-font">Contacts</h2>-->
                    <!--<p><b class="pink-font">Home address:</b> {{contacts.homeAddress}}</p>-->
                    <!--<p><b class="pink-font">Job:</b> {{contacts.job}}</p>-->
                    <!--<p><b class="pink-font">Job phone number:</b> {{contacts.jobPhoneNumber}}</p>-->
                    <!--<p><b class="pink-font">Cellphone number:</b> {{contacts.cellphoneNumber}}</p>-->

                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->