<div class="container" id="profile-card">
    <div class="row">
        <div class="col-sm">
            <h2 class="pink-font">Profile</h2>
            <!--content-->


            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img class="img-responsive" src="{{imageSrc}}">
                    </div>
                </div>
                <div class="row justify-content-lg-center">
                    <p><b class="" id="name">{{person?.name}} {{person?.middleName}} {{person?.surname}}</b></p>
                    <p><b class="pink-font">Gender:</b> {{gender}}</p>
                    <p><b class="pink-font">Date of birth:</b> {{person?.date_of_birth}}</p>
                    <h3 class="pink-font">Contacts</h3>
                    <p><b class="pink-font">Home address:</b> {{contacts.homeAddress}}</p>
                    <p><b class="pink-font">Job:</b> {{contacts.job}}</p>
                    <p><b class="pink-font">Job phone number:</b> {{contacts.jobPhoneNumber}}</p>
                    <p><b class="pink-font">Cellphone number:</b> {{contacts.cellphoneNumber}}</p>
                    <!--<p><b class="pink-font">Last update:</b> {{contacts.dateOfCreating}}</p>-->

                </div>
            </div>




        </div>
    </div>
</div>