<div class="overlay">
    <form #createUserForm="ngForm" ngNativeValidate > <!--novalidate-->
        <div class="con">
            <header class="head-form">
                <h2>Sign up</h2>
                <p>enter your user data here</p>
            </header>
            <br>
            <div class="field-set">
                <input class="form-input form-control" id="" type="text" placeholder="Username*"  name="username" [(ngModel)] = "user.username" required>
                <br>
                <input class="form-input form-control" type="password" placeholder="Password*"  name="password" [(ngModel)] = "user.password" required >
                <br>
                <input class="form-input form-control" type="email" placeholder="Email*"  name="email" [(ngModel)] = "user.email" required>
                <br>

                <button type="button" [disabled]="createUserForm.invalid" class="log-in" (click)="submit(user)"> Register <i class="far fa-check-circle" aria-hidden="true"></i></button>
            </div>

        </div>

    </form>
</div>